%link(rel="stylesheet" href="/app/assets/stylesheets/application.scss")
.sidebar
  .side-header
    .side-header__box
      test_user
    %ul.side-header__box__menu
      %li.side-header__box__menu__create-group
        =link_to "#" do
          = icon( "fa", "edit")
      %li.side-header__box__menu__edit-user
        =link_to "#" do
          = icon("fa", "cog")
  .groups
    /後にeach文で複数のgroupを表示させるように書き換え？
    .group
      .group__name
        sample
      .group__messages
        message_preview