.sidebar {
  width: 300px;
  color: $white;
  float: left;
  .side-header {
    font-size:16px;
    background-color: #253141;
    padding: $side_pad;
    display: flex;
    justify-content: space-between;
    height: 100px;
    line-height: 100px;
    align-items: center;
    &__box {
      font-weight: $side_bar_fw;
      &__menu {
        display: flex;
        color: $white;
        &__create-group, &__edit-user {
          margin-left: 0.3rem;
        }
        .icon_color {
          color: $white;
        }
      }
    }
  }
}

.groups {
  background-color: #2f3e51;
  padding: $side_group_pad;
  height: calc( 100vh - 100px);
  .group {
    margin-bottom: $side_group_margin;
    font-weight: $side_bar_fw;
    &__name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__messages {
      font-size: 11px;
    }
  }
}

.main {
  float: left;
}